<body class="sb-nav-fixed">

    <div class="center form-group mb-2">
        
        <label for="contactNumber" ><strong><h5>Enter Contact Number:</h5></strong></label>
        <input type="text"  id="contactNumber"
        placeholder="enter contact number" name="contactNumber" [(ngModel)]="contactNumber">

        <button class="button-style"type="button" (click)="searchCustomerByContact()">
        <span>SEARCH</span>
    </button>
      
    </div>

    <div class="center" *ngIf="customerExit">
        
        <label for="account number" ><strong><h5>Account Number:</h5></strong></label>
        <input type="text"  id="accountNumber"
        placeholder="enter contact number" name="accountNumber" [(ngModel)]="accountNumber" />

 
      
    </div>

           <br>
           <br>        
       

    <!--Layout Sidenav Content-->
    <section id="layoutSidenav_content" *ngIf="customerExit">
        <!--Main-->
        <main class="content-padding1">
            <!--Container Fluid-->
            <div class="container-fluid">
                <!--Page Content-->
                <div class="page-content">
                    <!--Page Header-->
                    <div class="page-header border-bottom-dark">
                        <h5 class="font-weight-bold mb-0">CUSTOMER-HISTORY</h5>
 
                    </div>
                    <!--End Page Header-->
 
                    <div class="blog-post">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" 
                            class="mt-2"  [formGroup]="editForm">
                            <div class="row  loginsrn">
 
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                   
                                    <!-- <div class="form-group mb-2">
                                        <label for="field_customerId" class="mb-2">Customer Id</label>
                                        <input type="number" class="form-control " id="field_customerId"
                                        placeholder="" name="customerId" formControlName="customerId">
                                       
                                    </div> -->
                                    
                                    <div class="form-group mb-2">
                                        <label for="field_transactionAmount" class="mb-2">Transaction Amount</label>
                                        <input type="number" class="form-control " id="field_transactionAmount"
                                            placeholder="" name="transactionAmount" formControlName="transactionAmount">
                                        
                                    </div>
                                   

                                    <div class="form-group mb-2">
                                        <label for="field_collectedBy" class="mb-2"> Collected By</label>
                                        <input type="Text" class="form-control " id="field_collectedBy"
                                        placeholder="" name="collected By" formControlName="collectedBy">
                                      
                                    </div>

                                    </div>
                                

                               <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    

                                <div class="form-group mb-2">
                                    <label for="field_date" class="mb-2">Date</label>
                                    <input type="date" class="form-control " id="field_date"
                                    placeholder="" name="date" formControlName="date">
                                    
                                </div>
                                     


                                </div>

                               <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    
                                    <div class="form-group mb-2">
                                        <label for="field_reason" class="mb-2">Reason</label>
                                        <input type="text" class="form-control " id="field_Reason"
                                        placeholder="" name="reason" formControlName="reason">
                                       
                                    </div>
                                    
                                     <!--save and cancel-->
                                    <div class="pull-right mt-2">
                                        <button type="button" id="cancel-save" class="btn btn-danger mr-4">
                                            
                                            <span> <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Cancel</span>
                                        </button>
                                        <button type="submit" id="save-entity" [disabled]=""
                                            class="btn btn-success">
                                            <span> <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Save</span>
                                        </button>
                                    </div>


                                </div> 

                            </div>
                           
                        </form>
                        <div class="clearfix"></div>




                    </div>
                    <!--End Page Content-->

                </div>
                <!-- End DataTales Start -->

            </div>
            <!--End ontainer Fluid-->
        </main>
        <!--End Main-->

    </section>
    <!--End Layout Sidenav Content-->

</body>
                                    
                                    
                                    
                                    
                                        
                                    
                                                 
                                
             
                                
                                                 
             
                                                 
                                                 
                                                
                                                 
                                                
                                                 
                                
                            