


    <body class="sb-nav-fixed">

        <!--Layout Sidenav Content-->
        <section id="layoutSidenav_content">
            <!--Main-->
            <main class="content-padding1">
                <!--Container Fluid-->
                <div class="container-fluid">
                    <!--Page Content-->
                    <div class="page-content">
                        <!--Page Header-->
                        <div class="page-header border-bottom-dark">
                            <h5 class="font-weight-bold mb-0">CUSTOMER</h5>
     
                        </div>
                        <!--End Page Header-->
     
                        <div class="blog-post">
                            <form name="editForm" role="form" novalidate 
                                class="mt-2" [formGroup]="editForm">
                                <div class="row  loginsrn">
     
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                       
                                         <div class="form-group mb-2">
                                            <label for="field_employeeName" class="mb-2">Employee Name</label>
                                           <input type="text" class="form-control " id="field_employeeName"
                                            placeholder="" name="employeeName" formControlName="employeeName">
                                           
                                        </div>

                                     <div class="form-group mb-2">
                                            <label for="field_joiningDate" class="mb-2">Joining Date</label>
                                            <input type="date" class="form-control " id="field_joiningDate"
                                            placeholder="" name="joiningDate" formControlName="joiningDate">
                                           
                                        </div>

                                        
                                      
                                    </div>
                                    
                                         <div class="col-12 col-sm-12 col-md-6 col-lg-4">

                                        <div class="form-group mb-2">
                                            <label for="field_employeeSalaryType" class="mb-2">Employee Salary Type</label>
                                            <input type="text" class="form-control " id="field_employeeSalaryType"
                                                placeholder="" name="employeeSalaryType" formControlName="employeeSalaryType">
                                           
                                        </div>

                                          <div class="form-group mb-2">
                                            <label for="field_primaryContact" class="mb-2"> Primary Contact</label>
                                            <input type="text" class="form-control " id="field_primaryContact"
                                            placeholder="" name="primaryContact" formControlName="primaryContact">
                                          
                                        </div>

                                       
     
                                         
                                 </div>
     
     
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                       
                                        <div class="form-group mb-2">
                                         <label for="field_address" class="mb-2">Address</label>
                                         <input type="text" class="form-control " id="field_address"
                                         placeholder="" name="address" formControlName="address">
                                        
                                     </div>

                                     <!-- Form Group -->
                                     <div class="form-group mb-2">
                                        <label for="field_secondaryContact" class="mb-2">Secondary Contact</label>
                                        <input type="text" class="form-control " id="field_secondaryContact"
                                        placeholder="" name="secondaryContact" formControlName="secondaryContact">
                                      
                                    </div>

                                    




                                        
                                     
                                        
     
     
                                    </div> 
     
                                </div>
                               
                            </form>
                            <div class="clearfix"></div>
     
     
     
     
                        </div>
                        <!--End Page Content-->
     
                    </div>
                    <!-- End DataTales Start -->
     
                </div>
                <!--End ontainer Fluid-->
            </main>
            <!--End Main-->
     
        </section>
        <!--End Layout Sidenav Content-->

     
     
     </body>
                                        
                                        
                                        
                                        
                                            
                                        
                                                     
                                    
                 
                                    
                                                     
                 
                                                     
                                                     
                                                    
                                                     
                                                    
                                                     
                                    
                                    
