.center {
   padding-top: 20px;
   display: flex;
   justify-content: center;
   
   
   
    }
.button-style{
    margin-left: 20px;
    border-radius: 5px;
    border:2px inset rgb(5, 5, 5);
}

// input[],select {
//     border-radius: 5px;
//     border:2px inset rgb(5, 5, 5);
//     font-size: 20px;


// }

// input[type=number],select {

//     border-radius: 5px;
//     border:2px inset rgb(5, 5, 5);
//     font-size: 20px;

// }