<body class="sb-nav-fixed">

    <div class="center form-group mb-2">
        
        <label for="contactNumber" ><strong><h5>Enter Contact Number:</h5></strong></label>
        <input type="text"  id="contactNumber"
        placeholder="enter contact number" name="contactNumber" [(ngModel)]="contactNumber">

        <button class="button-style"type="button" (click)="searchCustomerByContact()">
        <span>SEARCH</span>
    </button>
      
    </div>

 <!--antoher form-->
 <div class="blog-post" *ngIf="customerExist">
    <div class="page-header border-bottom-dark">
        <h5 class="font-weight-bold mb-0">CUSTOMER-DETAILS</h5>

    </div>
    <form name="customerForm" role="form" novalidate 
        class="mt-2" [formGroup]="customerForm">
        <div class="row  loginsrn">

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
               
                 <div class="form-group mb-2">
                    <label for="field_registerNumber" class="mb-2">Register Number</label>
                   <input type="text" class="form-control " id="field_registerNumber"
                    placeholder="" name="registerNumber" formControlName="registerNumber">
                   
                </div>

             <div class="form-group mb-2">
                    <label for="field_customerName" class="mb-2">Customer Name</label>
                    <input type="text" class="form-control " id="field_customerName"
                    placeholder="" name="customerName" formControlName="customerName">
                   
                </div>


                <div class="form-group mb-2">
                    <label for="field_customerReview" class="mb-2">Customer Review</label>
                    <input type="text" class="form-control " id="field_customerReview"
                    placeholder="" name="customerReview" formControlName="customerReview">
                   
                </div>
              
            </div>
            
                 <div class="col-12 col-sm-12 col-md-6 col-lg-4">

                <div class="form-group mb-2">
                    <label for="field_customerType" class="mb-2">Customer Type</label>
                    <input type="text" class="form-control " id="field_customerType"
                        placeholder="" name="customerType" formControlName="customerType">
                   
                </div>

                  <div class="form-group mb-2">
                    <label for="field_primaryContact" class="mb-2"> Primary Contact</label>
                    <input type="text" class="form-control " id="field_primaryContact"
                    placeholder="" name="primaryContact" formControlName="primaryContact">
                  
                </div>

                 
         </div>


            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
               
                <div class="form-group mb-2">
                 <label for="field_address" class="mb-2">Address</label>
                 <input type="text" class="form-control " id="field_address"
                 placeholder="" name="address" formControlName="address">
                
             </div>

             
             <div class="form-group mb-2">
                <label for="field_secondaryContact" class="mb-2">Secondary Contact</label>
                <input type="text" class="form-control " id="field_secondaryContact"
                placeholder="" name="secondaryContact" formControlName="secondaryContact">
              
            </div>




                
          


            </div> 

        </div>
       
    </form>
    <div class="clearfix"></div>




</div>
<!-- Form Group -->

<br>
<br>


<!--Layout Sidenav Content-->
   <section id="layoutSidenav_content" *ngIf="customerExist">
       <!--Main-->
       <main class="content-padding1">
           <!--Container Fluid-->
           <div class="container-fluid">
               <!--Page Content-->
               <div class="page-content">
                   <!--Page Header-->
                   <div class="page-header border-bottom-dark">
                       <h5 class="font-weight-bold mb-0">CUSTOMER-ACCOUNT-FORM</h5>

                   </div>
                   <!--End Page Header-->

                   <div class="blog-post">
                       <form name="editForm" role="form" novalidate (ngSubmit)="save()" 
                           class="mt-2" [formGroup]="editForm">
                           <div class="row  loginsrn">

                               <div class="col-12 col-sm-12 col-md-6 col-lg-4">

                                  <!-- Form Group -->
                                  <div class="form-group mb-2">
                                    <label for="field_accountNumber" class="mb-2">Account Number</label>
                                    <input type="text" class="form-control " id="field_accountNumber"
                                    placeholder="" name="accountNumber" formControlName="accountNumber">
                                  
                                </div>
                                 
                                   
                                    <!-- Form Group -->
                                   <div class="form-group mb-2">
                                       <label for="field_balanceAmount" class="mb-2">Balance Amount</label>
                                       <input type="number" class="form-control " id="field_balanceAmount"
                                       placeholder="" name="balanceAmount" formControlName="balanceAmount">
                                     
                                   </div>
                                   <!-- Form Group -->

                                   
                                    <div class="form-group mb-2">
                                       <label for="field_expectedDuration" class="mb-2">Expected Duration</label>
                                       <input type="number" class="form-control " id="field_expectedDuration"
                                           placeholder="" name="expectedDuration" formControlName="expectedDuration">
                                     
                                   </div>
                                  

                              </div>
                        
                              <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                 
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                       <label for="field_givenAmount" class="mb-2">Given Amount</label>
                                       <input type="number" class="form-control " id="field_givenAmount"
                                       placeholder="" name="givenAmount" formControlName="givenAmount">
                                      
                                   </div>

                                   

                               <div class="form-group mb-2">
                                <label for="field_interestAmount" class="mb-2">Interest Amount</label>
                                <input type="number" class="form-control " id="field_interestAmount"
                                placeholder="" name="interestAmount" formControlName="interestAmount">
                              
                            </div>

                             </div>
 
                                  <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                   <div class="form-group mb-2">
                                       <label for="field_expectedAmount" class="mb-2">Expected Amount</label>
                                       <input type="number" class="form-control " id="field_expectedAmount"
                                       placeholder="" name="expectedAmount" formControlName="expectedAmount">
                                      
                                   </div>

                              <div class="form-group mb-2">
                                    <label for="field_interestRate" class="mb-2">Interest Rate</label>
                                    <input type="number" class="form-control " id="field_interestRate"
                                    placeholder="" name="interestRate" formControlName="interestRate">
                                  
                                </div>
                                  
                                   
                                    <!--save and cancel-->
                                   <div class="pull-right mt-2">
                                       <button type="button" id="cancel-save" class="btn btn-danger mr-4">
                                           
                                           <span> <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Cancel</span>
                                       </button>

                                       <button type="submit" id="save-entity" [disabled]=""
                                       class="btn btn-success">
                                       <span> <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Save</span>
                                   </button>
                                       
                                       
                                         

                                      
                                   </div>


                               </div> 

                           </div>
                          
                       </form>
                       <div class="clearfix"></div>




                   </div>
                   <!--End Page Content-->

               </div>
               <!-- End DataTales Start -->

           </div>
           <!--End ontainer Fluid-->
       </main>
       <!--End Main-->

   </section>
   <!--End Layout Sidenav Content-->

</body>
                                   
                                   
                                   
                                   
                                       
                                   
                                                
                               
            
                               
                                                
            
                                                
                                                
                                               
                                                
                                               
                                                
                               
                           